.Login {
    width: 50%;
    
    margin-top: 108px ;
    margin-left: 400px ;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

form 
{border: 20px solid #fff;
    margin-top: 10px ;
    margin-left: 4px ;}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 15%;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: center;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */